.ball-container {
    >div {
        width: 30px;
        height: 30px;
        background-color: #A5F12B;
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        &.active.ball-1 {
            will-change: transform;
            animation: ball 3s ease-in-out infinite forwards;
            transition: 0.5s opacity;
            opacity: 0;
        }
    }
}

@keyframes ball {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    5% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateX(100vw);
    }
}